body {
	position: relative;
}
.exam-content {
	height: 100%;
	width: 100%;
}

.student-main {
	background: #e6e6e6;
	min-height: 70vh;
}

.userName {
	text-transform: capitalize;
	text-align: right;
	font-weight: bolder;
	margin: 0;
}

.language-badge {
	cursor: pointer;
	padding: 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	background: #6cc0bc;
	border: 2px solid white;
	color: white;
	margin: 10px 20px;
	border-radius: 10px;
}

.language-badge:hover {
	border-color: black;
	color: black;
}

/* exam page begins  */

.ui-dialog-titlebar-close {
	display: none !important;
}

.ui-button {
	background: blue !important;
	color: white !important;
}

.hideQuestions {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.top-heading {
	background: #79c4dc;
	color: white;
	font-weight: 600;
	font-size: 1.15rem;
	text-align: center;
	padding: 10px;
}

.primary-imfo-nav {
	background: white;
	padding: 5px;
	font-weight: 600;
	margin: 0 !important;
}

.info-nav {
	margin: 0;
}

.top-menu {
	background: white;
	border: 2px solid black;
	border-left: none;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 500;
}
.top-menu-image img {
	width: 40px;
	border: 1px solid darkgray;
	border-radius: 50%;
}
.top-menu-name span {
	text-decoration: underline;
}
.top-menu-name span:hover {
	text-decoration: none;
	cursor: pointer;
}
.top-menu-name > div:first-of-type {
	width: 100%;
	border-bottom: 2px solid black;
}
.top-menu-time {
	font-size: 1.25rem;
	font-weight: bolder;
}

.exam-main {
	padding: 20px;
}

#examQuestionSection {
	padding: 10px;
	background: white;
	padding-left: 20px;
	border-radius: 10px;
}

#examQuestionSection form .group-title {
	text-decoration: underline;
	margin-bottom: 20px;
}

#examQuestionSection .question-part {
	/* display: flex; */
	/* flex-direction: column; */
	display: none;
}
.question-part#reading_1 {
	display: flex;
	flex-direction: column;
}
#questionOptionsSection {
	position: relative;
	background: white;
	padding: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 1px solid black;
	display: flex;
	flex-direction: column-reverse;
}
#questionOptionsSection .optionsPart {
	display: none;
	width: 100%;
}
.optionsPart#readingOpt_1 {
	display: flex;
	flex-direction: column;
}
.optionsPart div {
	display: flex;
	padding: 20px;
	border-top: 1px solid darkgray;
	min-height: 80px !important;
}
.optionsPart div input {
	width: 20%;
}
.optionsPart div label {
	margin-top: 5px;
}
.optionsPart div img {
	width: 50%;
}
.changingButtons {
	width: 100%;
	/* position: absolute; */
	bottom: 0;
	border-top: 3px solid black;
	border-width: 80%;
	padding: 20px 0px 10px 0px;
}
.changingButtons button {
	width: 100%;
	padding: 5px 15px;
	margin: 10px;
}
.changingButtons #btnSubmitReadingQuestions {
	background: blue;
	color: white;
	font-weight: bolder;
}

#examQuestionSection form .questions {
	text-transform: capitalize;
	margin-left: 30px;
	padding: 0px 10px;
	font-weight: bold;
}

#examQuestionSection form .question-instructions {
	width: 80%;
	padding: 10px;
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

#examQuestionSection form img {
	width: 50%;
	align-self: center;
	border: 1px solid black;
	margin: 10px;
}
.lisGroupImage {
	width: 70% !important;
	max-height: 130px;
}

/* section to display all question numbers  */

#examAllQuestionSection {
	display: none;
}

.questionNumbers {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
}
.questionNumbers a {
	text-decoration: none;
	border: 1px solid black;
	color: black;
	background: lightgray;
	font-weight: bold;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.questionNumbers a:hover {
	opacity: 0.7;
}

/* section for audio  */

.listening_audio {
	display: none;
}
.playBtn {
	height: 100px;
	width: 100px;
	background: #f0f0f0
		url('../images/headphones-listen-music-sound-play-512.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	border-radius: 10%;
}
#testAudio {
	display: none;
}
#testAudioBtn {
	height: 50px;
	width: 50px;
	background: #f0f0f0
		url('../images/headphones-listen-music-sound-play-512.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	border: 2px solid red;
	border-radius: 10%;
}

/* result panel  */
.result-main {
	width: 80%;
	margin: 20px auto;
	padding-bottom: 20px;
	border-radius: 49px;
	background: #fffefe;
	box-shadow: 8px 8px 18px #666666, -8px -8px 18px #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.result-main h2 {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	color: white;
	background: #298e90;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 10px;
}

.result-main i {
	font-size: 2rem;
	font-weight: bold;
	margin: 10px;
}

.result-main h4 {
	color: darkgray;
}

.result-main span {
	font-weight: bolder;
	font-size: 1.25rem;
}

.result-main #attemptedQuestions {
	color: blue;
}

.result-main #rightAnswers {
	color: green;
}

.result-main #wrongAnswers {
	color: red;
}

.result-main hr {
	background: darkgrey;
	width: 100%;
}
.result-main p {
	color: gray;
}
