.exam-content {
	height: 100%;
	width: 100%;
}

.student-main {
	background: #e6e6e6;
	min-height: 70vh;
}

.userName {
	text-transform: capitalize;
	text-align: right;
	font-weight: bolder;
	margin: 0;
}

.language-badge {
	cursor: pointer;
	padding: 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	background: #6cc0bc;
	border: 2px solid white;
	color: white;
	margin: 10px 20px;
	border-radius: 10px;
}

.language-badge:hover {
	border-color: black;
	color: black;
}

#examLogo {
	height: 100px;
	margin-left: 20px;
}

.exam-main {
	padding: 50px;
}

#examQuestionSection {
	margin: 10px;
	padding: 10px;
	background: lightgray;
	padding-left: 20px;
	border-radius: 10px;
}

#examQuestionSection form .group-title {
	text-decoration: underline;
	margin-bottom: 20px;
}

#examQuestionSection .question-part {
	display: flex;
	flex-direction: column;
}

#examQuestionSection form .question-no {
	font-weight: bolder;
	color: white;
	background: black;
	border-radius: 50%;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 3px;
}

#examQuestionSection form .questions {
	text-transform: capitalize;
	margin-left: 30px;
	padding: 0px 10px;
	font-weight: bold;
}

#examQuestionSection form img {
	height: 300px;
	width: 500px;
	align-self: center;
	border: 1px solid black;
	padding: 5px;
}

#examQuestionSection form .options {
	display: flex;
	width: 25%;
	text-transform: capitalize;
	padding: 10px 10px;
	text-align: center;
}

#examQuestionSection form input[type="radio"] {
	margin: 0 30%;
	height: 20px;
	width: 20px;
}

#examQuestionSection form input[type="button"] {
	margin: 2% 45%;
	height: 50px;
}
