.exam-content {
	height: 100%;
	width: 100%;
}

.student-main {
	background: #e6e6e6;
	min-height: 70vh;
}

.userName {
	text-transform: capitalize;
	text-align: right;
	font-weight: bolder;
	margin: 0;
}

.language-badge {
	cursor: pointer;
	padding: 20px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1pt;
	background: #6cc0bc;
	border: 2px solid white;
	color: white;
	margin: 10px 20px;
	border-radius: 10px;
}

.language-badge:hover {
	border-color: black;
	color: black;
}

/* exam page begins  */

.ui-dialog-titlebar-close {
	display: none !important;
}

.ui-button {
	background: blue !important;
	color: white !important;
}

/* .hideQuestions {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity 
} */

.top-heading {
	background: #79c4dc;
	color: white;
	font-weight: 600;
	font-size: 1.15rem;
	text-align: center;
	padding: 10px;
}

.top-menu {
	background: white;
	border: 2px solid black;
	border-left: none;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 500;
}
.top-menu-image img {
	width: 40px;
	border: 1px solid darkgray;
	border-radius: 50%;
}
.top-menu-name > div:first-of-type {
	width: 100%;
	border-bottom: 2px solid black;
}

.exam-main {
	padding: 50px;
}

#examQuestionSection {
	margin: 10px;
	padding: 10px;
	background: white;
	padding-left: 20px;
	border-radius: 10px;
}

#examQuestionSection form .group-title {
	text-decoration: underline;
	margin-bottom: 20px;
}

#examQuestionSection .question-part {
	/* display: flex; */
	/* flex-direction: column; */
	display: none;
}
.question-part#reading_1 {
	display: flex;
	flex-direction: column;
}

#examQuestionSection form .question-no {
	font-weight: bolder;
	color: white;
	background: black;
	border-radius: 50%;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 3px;
}

#examQuestionSection form .questions {
	text-transform: capitalize;
	margin-left: 30px;
	padding: 0px 10px;
	font-weight: bold;
}

#examQuestionSection form img {
	width: 50%;
	align-self: center;
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
}

#examQuestionSection form .options {
	display: flex;
	width: 100%;
	text-transform: capitalize;
	padding: 10px 10px;
	text-align: center;
}

#examQuestionSection form input[type='radio'] {
	margin: 0 20%;
	height: 20px;
	width: 20px;
}

#examQuestionSection form input[type='button'] {
	height: 50px;
}

.questionNumbers {
	padding: 10px;
	text-align: center;
}
.questionNumbers h4 {
	background: #78a8f6;
	width: 100%;
	padding: 5px;
	border: 1px solid lightgrey;
	color: white;
}
.readingNumbers {
	background: white;
	padding: 0;
	border-right: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
}
.readingNumbers div {
	margin: 5px;
}
.readingNumbers button {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.readingNumbers input[type='checkbox'] {
	height: 20px;
	width: 20px;
}
.listeningNumbers {
	background: white;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.listeningNumbers div {
	margin: 5px;
}
.listeningNumbers button {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
.listeningNumbers input[type='checkbox'] {
	height: 20px;
	width: 20px;
}
.listening_audio {
	display: none;
}
.playBtn {
	height: 100px;
	width: 100px;
	background: #f0f0f0
		url('../images/headphones-listen-music-sound-play-512.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	border-radius: 10%;
}
