* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-grey: #e6e6e6;
	--silver-grey: #9f9e9e;
	--logo-blue: #6cc0bc;
}

body {
	background: var(--main-grey);
}

a {
	color: var(--silver-grey);
	text-decoration: underline;
	cursor: pointer;
}

.container {
	width: 100vw;
	min-height: 80vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	/* grid-template-columns: repeat(3, auto); */
	flex-direction: column;
	text-align: center;
	/* position: relative; */
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.opening-content {
	float: right;
	text-decoration: underline;
}

.header img {
	height: 100px;
	cursor: pointer;
}

.container .form-div {
	padding: 20px;
	width: 400px;
}

.form-div #login-error-message {
	color: red;
}

.form-div input {
	border: 1px solid black;
}

/* .ubt-format-demo {
	height: 200px;
	float: right;
} */

.submit-btn {
	background: #1771bf;
	color: white;
	padding: 5px 25px;
	border: 1px solid black;
}

.submit-btn:hover {
	/* background: var(--logo-blue); */
	opacity: 0.8;
	border: 1px solid white;
}

.end-note {
	margin-top: 50px;
	color: var(--silver-grey);
	text-align: center;
}

/* admin panel begins here  */

.showcss {
	display: block;
}
.showtable {
	display: table;
}
.hidecss {
	display: none;
}

#dialog {
	display: none;
}

.myTarget {
	font-weight: bold;
	font-style: italic;
	color: red;
}

#layoutSidenav {
	width: 20%;
	/* position: relative; */
}

#sideNavSection {
	width: 100%;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

#sideNavSection .show-content:hover {
	background: var(--logo-blue);
	color: white;
}

.admin-main {
	width: 100%;
	display: flex;
}
#mainSection {
	padding: 20px;
	width: 100%;
}

.main-content {
	display: none;
	width: 100%;
}

.show {
	display: block;
}

.group-form {
	border: 1px solid var(--main-grey);
	padding: 10px;
	border-radius: 10px;
}

#groupInputDiv form > div {
	border: 1px solid var(--silver-grey);
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#viewAnswers input[type='search'] {
	padding: 5px;
	border-radius: 10px;
}

#viewAnswers .paginate_button {
	background: lightgray;
	border: 1px solid darkgrey;
	padding: 2px 5px;
	margin: 2px;
}

#tabAddReadingQuestions {
	display: none;
}

#tabAddListeningQuestions {
	display: none;
}
